{% extends "base.html" %}

{% block content %}
<div style="margin: 20px 0px">
    <h1 id="sitename">Contents</h1>
</div>        


<table class="table table-striped table-condensed">
    <tr>
        <td><a href="{{ SITEURL }}/types/">Type IDs Table</a></td>
        <td>List of items</td>
    </tr>

    <tr>
        <td><a href="{{ SITEURL }}/universes/">Universes IDs Table</a></td>
        <td>List of solar systems</td>
    </tr>

    <tr>
        <td><a href="{{ SITEURL }}/tools/exporter.html">Export Type IDs</a></td>
        <td>Export only necessary categories to CSV</td>
    </tr>
</table>

<div id="version" style="margin-top: 50px; margin-bottom: 30px" class="text-center">
    <a href="https://cdn1.eveonline.com/data/sde/tranquility/{{ VERSION }}.zip">{{ VERSION }}</a>
</div>


{% endblock content %}
